name: Build Binder Image

on:
  push:
    branches:
      - main
    paths:
      - requirements.txt
      - pyproject.toml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build and cache Binder image
        uses: jupyterhub/repo2docker-action@master
        with:
          NO_PUSH: true
          MYBINDERORG_TAG: ${{ github.event.ref }}
          REPO2DOCKER_EXTRA_ARGS: --cache-from-type=gha --cache-to-type=gha
        env:
          DOCKER_BUILDKIT: 1

      - name: Trigger Binder build
        uses: jupyterhub/repo2docker-action@master
        with:
          NO_PUSH: true
          MYBINDERORG_TAG: ${{ github.event.ref }}
          BINDER_CACHE: true
